@charset "utf-8";

body {
    color: #FFFFFF;
    background-color: #ffffff;
}

a {
    color: #E66563;
}

a:active,
a:focus {
    background: transparent;
}

/* IE10 + 11 Bugfix - prevents grey background */
hr,
.borderedbox {
    border-color: #F4F4F4;
}

label span {
    color: #FF0000;
    background-color: inherit;
}

input:focus,
textarea:focus,
*:required:focus {
    border-color: #E66563;
}

.overlay {
    color: #FFFFFF;
    background-color: inherit;
}

.overlay::after {
    color: inherit;
    background-color: rgba(0, 0, 0, .6);
}

.overlay.light {
    color: #474747;
}

.overlay.light::after {
    background-color: rgba(255, 255, 255, .85);
}

.btn,
.btn.inverse:hover {
    color: #FFFFFF;
    background-color: #E66563;
    border-color: #E66563;
}

.btn:hover,
.btn.inverse {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
}


/* Rows */
.row0,
.row0 a {
    color: #474747;
    background-color: #FFFFFF;
}

.row1 {
    color: #FFFFFF;
}

.row2 {
    color: #F1F1F1;
}

.row1+.row2 {
    border-color: rgba(255, 255, 255, .2);
}

.row3 {
    color: #474747;
    background-color: #FFFFFF;
}

.row4 {
    color: #A8A7A6;
    background-color: #2d2d67;
}

.row5,
.row5 a {
    color: #FFFFFF;
    background-color: #E66563;
}


/* Top Bar */
#topbar,
#topbar ul li {
    border-color: rgba(255, 255, 255, .2);
}

#topbar>div:last-of-type li:first-child a {
    color: #9E4195;
}


/* Header */
#header #logo a {
    color: inherit;
}


/* Page Intro */
#pageintro li {
    color: #FFFFFF;
}


/* Content Area */
.latest article figure figcaption {
    color: #FFFFFF;
}

.latest article figure figcaption time strong {
    background-color: #F9C3B6;
}

.latest article figure figcaption time em {
    background-color: #F28468;
}


/* Footer */
#footer .heading {
    color: #FFFFFF;
}

#footer hr,
#footer .borderedbox,
#footer .linklist li {
    border-color: rgba(255, 255, 255, .1);
}

#footer input,
#footer button {
    border-color: transparent;
}

#footer input {
    color: #FFFFFF;
    background-color: #2d2d67;
}

#footer input:focus {
    border-color: #E66563;
}

#footer button {
    color: #FFFFFF;
    background-color: #E66563;
}


/* Navigation */
#mainav li a {
    color: #E66563;
}

#mainav .active a,
#mainav a:hover,
#mainav li:hover>a {
    color: #ffffff;
    background-color: inherit;
}

#mainav li li a,
#mainav .active li a {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .6);
    border-color: rgba(0, 0, 0, .6);
}

#mainav li li:hover>a,
#mainav .active .active>a {
    color: #FFFFFF;
    background-color: #E66563;
}

#mainav form select {
    color: #FFFFFF;
    background-color: #000000;
    border-color: rgba(255, 255, 255, .3);
}


.container .sidebar nav a {
    color: inherit;
    border-color: #F4F4F4;
}

.container .sidebar nav a:hover {
    color: #E66563;
}